:root {
    --color-1: white;
    --color-2: grey;
    --color-3: black;
    --color-4: slategray;
}

body, html {
    height: 100%;
    margin: 0;
    position: relative;
}

.container-p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    height: 500px;
    outline: solid 1px black;
  }
  
.container-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align:center;
    position: absolute;
    width: auto ;
    height: auto;
    gap: 30px;
    outline: solid 1px black;
}

.container-2 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 350px;
    gap: 250px;
    outline: solid 1px black;
}

.button-1 {
    margin: 10px;
    margin-top: 30px;
    height: 20px;
   /* background-color: var(--color-2);*/
    padding: 20px;
    border:color black;
    cursor: pointer;
}

.title-1 {
    margin-top: 50px;
    outline: solid 1px black;
    font-weight: 800;
    font-size: 2.5rem;
}

.title-2 {
    margin-top: 10px;
    outline: solid 1px black;
    font-weight: 800;
    font-size: 1.75rem;
}

.container-p3 {
    height: 807px;
    outline: solid 1px black;
}

.container-3 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    outline: solid 1px black;
}

.title-3 {
    margin-top: auto auto;
    width: 100%;
    outline: solid 1px black;
    font-size: 1.75rem;
}

.container-4 {
    display: flex;
    flex-direction: row;
    height: auto;
    outline: solid 1px black;
}

.text-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    word-break: break-all;
    width: 80%;
    outline: solid 1px black;
}

.img-1 { 
    width: auto;
    height: auto;
    margin: 10px;
    outline: solid 1px black;
}

.container-p4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 500px;
    outline: solid 1px black;
}

.container-5 {
    display: flex;
    flex-direction: column;
    outline: solid 1px black;
}

.title-4 {
    margin-top: auto auto;
    width: 100%;
    outline: solid 1px black;
    font-size: 1.75rem;
}

.container-6 {
    overflow: hidden;
    display: flex;
    width: 80%;
    margin: 20px auto;
}

@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.card {
    flex: 0 0 auto;
    width: 250px;
    height: 320px;
    margin: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    animation: slide 30s ease-in-out infinite;
}

.container-p5 {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 700px;
    outline: solid 1px black;
}

.container-7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;
    margin: 50px;
    border-radius: 10px;
    outline: solid 1px black;
}

.text-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    outline: solid 1px black;

}

.name, .prof, .spe {
    width: 100%;
    margin-bottom: 1rem;
}

.form {
    outline: solid 1px black;
    width: 100%;
    order: 2; /* Assure que le formulaire est affiché après les éléments de texte */
    align-self: flex-end; /* Aligne le formulaire en bas du conteneur */
}